<div class="container">
  <% @posts.each_with_index do |post, i| %>
    <div class="post">
      <a href="<%= post.link %>">
        <h2><%= (i + 1).to_s + ". " + post.title %></h2>
        <span class="url"><%= post.link %></span>
      </a>
      <span class="user">Posted by post.user</span>
      <span class="comments"><%= post.comments.size %></span>
    </div>
  <% end %>
</div>
