<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <h1><a href="/">Programmer News</a></h1>
    <span id="user"><%= session[:user] %></span>
    <nav>
      <a href="/submit">submit</a>
      <a href="/profile">profile</a>
      <a href="/login">login</a>
      <a href="/signout">signout</a>
    </nav>
  </header>

  <div class="messages">
    <%= params[:error] %>
  </div>

  <%= yield %>
</body>
</html>