<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div id="banner">
       <h1><a href="/">Programmer News</a></h1>
    </div>
    <nav>
      <ul>
        <% unless (username = session[:user]).nil? %>
          <li><a id="profile" href="/profile/<%= User.find_by(username: username).id %>"><%= username %></a></li>
        <% end %>
        <li><a id="submit" href="/submit">submit</a></li>
        <li><a id="login" href="/login">login</a></li>
        <li><a id="logout" href="/logout">logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="messages">
    <%= params[:error] %>
  </div>

  <%= yield %>
</body>
</html>