<div class="container">
  <form id="submit" action="/submit" method="post">
    <input name="title" type="text" placeholder="title">
    <input name="link" type="text" placeholder="link">
    <input type="submit" value ="submit">
  </form>
</div>